<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static "challenges/style.css" %}">
    <link rel="stylesheet" href="{% static "general.css" %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block page_title %}Default{% endblock %}</title>
</head>
<body>

    {% block content %}
    
        default content
    
    {% endblock content %}
    
</body>
</html>